.primary-link {
    color: var(--colour-tertiary);
    font-size: var(--larger-font-size);
    cursor: pointer;
    user-select: none;
    transition: all .1s;
    border: none;
    background: none;
}

.primary-link:hover {
    color: var(--colour-tertiary-dark);
}

.button {
    display: inline-block;
    cursor: pointer;
    padding: .5rem 5rem; 
    border-radius: .5rem;
    border: solid 2px;
    outline: none;
    color: var(--colour-gray-1);
    font-size: var(--large-font-size);
    transition: all .2s;
    white-space: nowrap;
}

.button:hover{
    border-color: var(--colour-gray-1);
}

