.input-panel-entry-1, 
.input-panel-entry-2,
.input-panel-entry-3 {
    font-size: var(--large-font-size);
    padding: 1rem 3rem;
    position: relative;
    border: 1px solid var(--colour-gray-3);
}

.input-panel-entry-1::before {
    content: ">";
    position: absolute;
    top: 1rem;
    left: 1rem;
    width: 1rem;
    height: 1rem;
}

.input-panel-entry-2 {
    background-color: var(--colour-primary);
    font-size: var(--small-font-size);
    text-align: center;
}

.input-panel-entry-2:hover {
    background-color: var(--colour-tertiary);
}

.input-panel-entry-3 {
    font-size: var(--small-font-size);
    padding: 1rem 3rem;
}